* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Reset rules */

/* Common rules */

body {
  font-family: "Varela Round", sans-serif;
}


.flex {
    display: flex;
}

.hidden {
    display: none;
}


/* Aside rules */

aside {
    
    position: absolute;
    top: 0px;
    left: 0px;

    z-index: 1;
    overflow-y: hidden;

    width: 230px;
    height: calc(100% - 90px);
    
    background-color: #000000;
    
}

aside .container {
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;

    height: 100%;
}

#logo-playlist {
    flex-direction: column;
    gap: 30px;
}

.logo-contain {
    padding-top: 20px;
    width: 130px;
}

/* Aside text */

aside ul:first-of-type li:not(:first-of-type) {
    list-style: none;
    color: white;
    opacity: 0.7;
}

.aside-text,
.install-text {
    display: inline;
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;

}

.white-text {
    display: inline;
    vertical-align: middle;
    font-weight: bold;
    font-size: 14px;

    color: white;
}

.playlist .white-text {
    font-size: 15px;
}

.title-playlist,
.install-text {
    color: white;
    opacity: 0.7;
}

.download .white-text {
    padding-left: 10px;
}

/* Green border home */


/* Home, search, library and Playlist */

aside .container ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.playlist ul {
    gap: 20px;
    max-height: 300px;

    overflow-y: auto;

}


.icons-aside {
    width: 20px;
    vertical-align: middle;
} 

.title-playlist i {
    padding-right: 8px;
    vertical-align: middle;

    font-size: 30px;

    color: white;
    opacity: 0.7;
}

/* Account part*/

.account {
    flex-direction: column;
    gap: 10px;

    margin-top: 10px;
    padding-bottom: 10px;

    width: 190px;
}

.account .download img {
    width: 15px;

}

.johndoe {
    padding-top: 10px;
    border-top: solid white 1px;
}

.account .johndoe img {
    width: 25px;
    border-radius: 50%;
    background-color: #808080;
}


/* Playlist */

/* END Aside rules */

/* Main rules */

main {
    
    position: absolute;
    top: 0px;
    left: 230px;
    
    overflow-y: auto;

    width: calc(100% - 230px);
    height: calc(100vh - 90px);

    background-color: #131921;
    
}

/* Upgrade section - 1st Section */


section:first-child {

    position: fixed;
    right: 0px;
    top: 0px;

    width: calc(100% - 230px);
    height: 90px;

    z-index: 1;

    background-color: rgba(0, 0, 0, 0.4);
}

section:first-child .container {
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}

.upgrade {
    margin-right: 25px;
}

.upgrade button {
    background-color: transparent;
    border: none;
}

.upgrade a {
    text-decoration: none;

    border: 2px white solid;
    border-radius: 20px;

    padding: 12px 40px;

    font-size: 18px;
    font-weight: bold;

    color: white;
}

/* Albums section - 2nd Section */

section:last-of-type {

    width: 100%;

}

/* Nav inside the Main */

nav .container {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    margin: 0 auto;

    /* 90px of upgrade section + 25px margin */
    margin-top: calc(25px + 90px);

    padding-right: 20px;
    padding-left: 20px;

    max-width: 620px;
}

nav a {
    text-decoration: none;

    color: #7D7F84;
    font-size: 12px;
    
    margin-bottom: 4px;

    padding-bottom: 4px;
}


/* Recently played  inside the Main */

.recently-played {
    margin: 40px 20px;
}

.recently-played h2 {
    font-size: 28px;
    font-weight: bold;

    margin-bottom: 25px;

    color: white;
}

.recently-played .container {
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;

    margin-bottom: 95px;

}

.album {
    flex-direction: column;
    align-items: center;

    width: 195px;
}

.recently-played .album-img {
    
    margin-bottom: 20px;
    
}

.album img {
 width: 100%;
}

.album h3 {

    text-align: center;
    font-size: 16px;
    font-weight: bold;

    color: white;

    margin-bottom: 10px;
}

.album div:last-child {
    text-align: center;

    font-size: 12px;
    font-weight: bold;

    color: #686B6E;
}

/* Suggested part & Top Artist inside the Main */

.suggested {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 30px;

}

.suggested .container {

    justify-content: flex-start;
    gap: 30px;

}

.suggested h2 {
    font-size: 20px;
    font-weight: bold;

    color: white;

    margin-bottom: 10px;
}

.suggested .subtitle {

    margin-bottom: 30px;

    font-size: 12px;
    font-weight: bold;

    color: #686B6E;

   
}

.sug-album {
    flex-direction: column;
    align-items: center;
    gap: 20px;

    width: 200px;
}

.sug-album img {
 width: 100%;
}

.sug-album h3 {

    font-size: 16px;
    font-weight: bold;

    color: white;

}

/* Most Popular part inside the Main */

.circle img {
    border-radius: 50%;
}

/* END Main rules */

/* Player rules */

.player {
    

    position: absolute;
    bottom: 0px;
    right: 0px;
    
    z-index: 2;

    width: 100%;
    height: 90px;

    background-color: #282828;
    
}

.player .container {
    justify-content: space-between;

    height: 100%;
    width: 100%;
}

/* common rule icons right-left and input */

.player-icons i {

    color: white;
    font-size: 15px;

    font-size: 15px;
    
}

left-icons .player-icons i {
    opacity: 0.7;
    
}

/* input {
    -webkit-appearance: none;
    cursor: pointer;
    
    background: white;
    
    height: 4px;
    
    background-color: #5A5A5A;
} */

/* Left player */

.left-player {
    justify-content: space-between;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;

    width: 230px;
}


.left-album {
    align-content: center;
    gap: 10px;

    color: white;
    opacity: 0.7;
}

.left-album img {
    width: 40px;
}

.left-icons {
    align-content: center;
    justify-content: space-around;
    gap: 10px;

    color: white;
    opacity: 0.7;
}

.left-album span {
    color: white;
    opacity: 0.7;
    font-size: 0.8em;
}


/* Center player */

.center-player {
    flex-direction: column;
    align-items: center;
    width: 40vw;
    
    gap: 12px;
}

/* Icons player */

.center-icons {
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-top: 10px;
    width: 230px;
    
}

.var-icon {
    gap: 20px;
}

.center-icon i {
    font-size: 20px;

    color: white;
}

.play-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;

    border: 2px white solid;
    border-radius: 50%;
    color: white;

}

.center-icon:nth-of-type(3) i {
    font-size: 20px;
    
 
}

/* bar music time */

.center-bar {
    justify-content: space-between;
    gap:8px;
    /* width: 100%; */
}

.time {
   font-size: 0.7em;
   color: white;
}

.center-bar input {
    width: calc(40vw - 32px - 16px);
}


/* Right player */

.right-player {
    justify-content: space-between;
    align-content: center;
    gap: 10px;

    width: 230px;

    padding-left: 10px;
    padding-right: 25px;

}

.right-icons {
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.right-bar {
    width: 120px;
}

.loading {
    display: flex;
    align-items: center;
}



/* END Player rules */

/* Media querries */

/* Dekstop: down to 1440px */

@media screen and (max-width:1440px) {

    /* Changing only the rules for albums */
    
    .album {
        width: calc(100% / 6 - 10px / 6 * 5);
        align-items: stretch;
    }

    .suggested .container {

        gap: 10px;
    
    }

    .sug-album {
    
        width: calc(100% / 6 - 10px / 6 * 5);
    }

}

/* Laptop: down to 992px */

@media screen and (max-width:992px) {

    /* Changing only the rules for albums */

    .recently-played .container {
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 10px;
    }
    
    .album {
        width: calc(100% / 4 - 10px / 4 * 3);
    }

    .sug-album {
    
        width: calc(100% / 4 - 10px / 4 * 3);
    }

     /* Changing dimansions of upgrade button */

    .upgrade a {

    
        border: 1px white solid;
        border-radius: 20px;
    
        padding: 10px 35px;
    
        font-size: 10px;
        font-weight: bold;
    
        color: white;
    }

}

/* Tablet: down to 768px */

@media screen and (max-width:768px) {

    /* Changing only the rules for albums */

    .recently-played .container {
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 10px;
    }
    
    .album {
        width: calc(100% / 2 - 10px / 2);
    }

    .sug-album {
    
        width: calc(100% / 2 - 10px / 2);
    }


    /* Player changing dimension right and left parts */

    .left-player {
        justify-content: flex-start;
        gap:20px;

        width: calc(100%/3);

        padding: 0px;
    }

    .left-icons {
        flex-direction: column;
    }

    .right-player {
        justify-content: flex-end;
        width: calc(100% / 3);
        
        
    }

    .right-icons {
        gap: 10px;
    }

    .right-bar input {
        width: 100%;
    }

    .center-player {
        width: calc(100% / 3);
    }

    .center-icons {
        justify-content: center;
        gap: 20px;
        width: 90%;
    }

    .center-bar {
        justify-content: space-between;
        width: 100%;
    }

    .center-bar input {
        width: 23vw;
    }

    .center-icon i {
        font-size: 15px;
    
    }
    
    .play-icon {
        width: 30px;
        height: 30px;
    
        border: 2px white solid;
    
    }   
}

/* Mobile: down to 480px */

@media screen and (max-width:480px) {

    /* Changing dimension of aside & main */
    aside {
        width: 50px;
    }

    main { 
        position: absolute;
        top: 0px;
        left: 50px;

        width: calc(100% - 50px);
    }
 
    
    section:first-child {
        width: calc(100% - 50px);
    }

    /* Rules collapsed and hidden things */

    .collapsed {
        display: none;
    }

    .hidden {
        display: block;
        width: 30px;
    }

    /* Rules aside */

    .logo-contain {
        width: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;

    }

    aside .container {
        padding-left: 0px;
    }

    aside .container ul {
        align-items: center;
    }

    .account {
        align-items: center;
        padding-left: 5px;

        width: 40px;
    }

    .johndoe { 
        border-top: none;
        
    }

    /* Rules upgrade part */

    .upgrade {
        margin-right: 10px;
    }

    /* Rules for player */

    .left-player {
        gap: 10px;
        width: 30%;
        padding-right: 10px;

    }

    .left-album img {
        width: 30px;
    }

    .left-album span {
        font-size: 0.7;
    }

    .right-player {
        width: 30%;
        padding-right: 10px;
    }
    .center-player {
        width: 40%;
    }

    .right-icons {
        gap: 5px;
    }

    .center-icons {
        justify-content: center;
        gap: 10px;
        width: 90%;
    }

    .center-bar input {
        width: 25vw;
    }

    .center-icon i {
        font-size: 15px;
    
    }
    
    .play-icon {
        width: 20px;
        height: 20px;
    
    }   

}